# Node Dependency directory
node_modules

# Bower installation directory
bower_components

# Temporary development directory
.tmp

# Temporary development directory
dist

todo.txt
.idea

# Ignore fw files
server/lib/.classpath
server/lib/.project
server/lib/.settings/
server/lib/.svn/
server/lib/pom.xml
server/lib/src/
